<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href=""/>
    <link rel='stylesheet' href='/vender/normalize-css/normalize.css'/>
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link rel='stylesheet' href='/vender/components-font-awesome/css/font-awesome.min.css'/>
</head>
<body>
<div id="si_wrap">
    <div class="si_nav">
        <div class="si_logo">
            <a href="#">
                <img src="/images/showing_logo.png" alt="showing_logo"/>
            </a>
        </div>
        <div class="si_icons">
            <a href="#" class="bell_btn">
                <i class="fa fa-bell-o"></i>
            </a>
        </div>
    </div>

    <div class="si_header">
    </div>

    <div class="si_content_area">
        <div class="si_content_card_area">
            <div class="si_content_card">
                <div class="card_img_area">
                    <img src="/images/card_img.jpg" alt=""/>
                </div>

                <div class="card_content_area">
                    <div class="card_title">
                        <a href="#">
                            딕펑스 스탠딩 콘서트
                        </a>
                    </div>

                    <div class="card_info">
                        10월3일(토) 오후 8시<br />
                        10월4일(일) 오후 6시
                    </div>
                </div>
            </div>

            <div class="si_content_card">
                <div class="card_img_area">
                    <img src="/images/card_img.jpg" alt=""/>
                </div>

                <div class="card_content_area">
                    <div class="card_title">
                        <a href="#">
                            딕펑스 스탠딩 콘서트
                        </a>
                    </div>

                    <div class="card_info">
                        10월3일(토) 오후 8시<br />
                        10월4일(일) 오후 6시
                    </div>
                </div>
            </div>

            <div class="si_content_card">
                <div class="card_img_area">
                    <img src="/images/card_img.jpg" alt=""/>
                </div>

                <div class="card_content_area">
                    <div class="card_title">
                        <a href="#">
                            딕펑스 스탠딩 콘서트
                        </a>
                    </div>

                    <div class="card_info">
                        10월3일(토) 오후 8시<br />
                        10월4일(일) 오후 6시
                    </div>
                </div>
            </div>

            <div class="si_content_card">
                <div class="card_img_area">
                    <img src="/images/card_img.jpg" alt=""/>
                </div>

                <div class="card_content_area">
                    <div class="card_title">
                        <a href="#">
                            딕펑스 스탠딩 콘서트
                        </a>
                    </div>

                    <div class="card_info">
                        10월3일(토) 오후 8시<br />
                        10월4일(일) 오후 6시
                    </div>
                </div>
            </div>

            <div class="si_content_card">
                <div class="card_img_area">
                    <img src="/images/card_img.jpg" alt=""/>
                </div>

                <div class="card_content_area">
                    <div class="card_title">
                        <a href="#">
                            딕펑스 스탠딩 콘서트
                        </a>
                    </div>

                    <div class="card_info">
                        10월3일(토) 오후 8시<br />
                        10월4일(일) 오후 6시
                    </div>
                </div>
            </div>

            <div class="si_content_card">
                <div class="card_img_area">
                    <img src="/images/card_img.jpg" alt=""/>
                </div>

                <div class="card_content_area">
                    <div class="card_title">
                        <a href="#">
                            딕펑스 스탠딩 콘서트
                        </a>
                    </div>

                    <div class="card_info">
                        10월3일(토) 오후 8시<br />
                        10월4일(일) 오후 6시
                    </div>
                </div>
            </div>

            <div class="si_content_card">
                <div class="card_img_area">
                    <img src="/images/card_img.jpg" alt=""/>
                </div>

                <div class="card_content_area">
                    <div class="card_title">
                        <a href="#">
                            딕펑스 스탠딩 콘서트
                        </a>
                    </div>

                    <div class="card_info">
                        10월3일(토) 오후 8시<br />
                        10월4일(일) 오후 6시
                    </div>
                </div>
            </div>

            <div class="si_content_card">
                <div class="card_img_area">
                    <img src="/images/card_img.jpg" alt=""/>
                </div>

                <div class="card_content_area">
                    <div class="card_title">
                        <a href="#">
                            딕펑스 스탠딩 콘서트
                        </a>
                    </div>

                    <div class="card_info">
                        10월3일(토) 오후 8시<br />
                        10월4일(일) 오후 6시
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
